.login {
  height: 100%;
}

.container {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 2rem;
}

.login__left {
  background-image: url("../../../public/image/illustration-authentication.svg");
  background-size: cover;
  background-position: center;
  display: flex !important;
  flex-direction: column;
  border-radius: 1.2rem;
  h3 {
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 2.4rem;
    line-height: 120%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  img {
    margin-bottom: auto;
    padding: 4rem;
  }
  p {
    color: #fff;
    line-height: 150%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.login__right {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column !important;
  .login__from {
    // background-color:red !important;
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .all__login__register__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    max-height: 422px;
    border-radius: 1.2rem;
    max-width: 56rem;
    width: 100%;
    padding: 4rem;
  }
}

.login__title {
  margin-bottom: 3.2rem;
  color: #201f24;
  font-size: 3.2rem;
  // padding-top: 3rem;
}
.login__button {
  background-color: #201f24;
  //  margin-top: 1rem;
  color: #fff;
}

.footer__div {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  // padding-bottom: 2rem;
}
