.btn{
     border-radius: 0.8rem;
     padding-top: 1.6rem;
     padding-bottom: 1.6rem;
     background-color: transparent;
     border: 0;
     font-size: 18px;
     font-weight: 700;
     font-family: inherit;
     cursor: pointer;
}